.container {
    background-color: antiquewhite;
    display: flex; /* Usamos o display flex no elemento pai*/
    flex-direction: column;
}

.item {
    background-color: cadetblue;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
